<%- include('header.html') -%>
<%- include('side_bar.html') -%>
   

       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="show_mode();">
           Add Department
         </button
   
        class="container-fluid">

   
         

           <!-- DataTales Example -->
           <div class="card shadow mb-4">    
               <div class="card-header py-3">
                   <h6 class="m-0 font-weight-bold text-primary">Users</h6>
               </div>
            

               <div class="card-body">
                   <div class="table-responsive">
                       <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                           <thead>
                               <tr>
                                   <th>Name</th>
                                   <th>Desc</th> 
                                   <th>Action</th>
                         
                               </tr>
                           </thead>
                         
                           <tbody>
                               <% data.forEach( function(d){ %>
                                   <tr>
                                       <td><%= d.name %></td>
                                       <td><%= d.desc %></td> 
                                    <td> <span  class="btn btn-primary" onclick="edit(`<%= d._id%>`,`<%= d.name%>`,`<%= d.phone%>`,`<%= d.user_name%>`,`<%= d.password%>`)">edit </span></td>
                                   
                                 
                                   </tr> 
                              <% })%>
                              
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>

       </div>
       </div>
       <!-- /.container-fluid -->



<div class="modal fade" id="myModal"   role="dialog" aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Dept </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
            
               <div class="modal-body">
                  
        <form action="/save_dept" method="post"  >
           <div class="row">
               <div class="col-lg-12">
               <label>Name</label>
               <input type="text"  class="form-control" name="name" id="name">
            </div>
            <div class="col-lg-12">
               <label>Desc</label>
               <textarea name="desc" id="desc" class="form-control"></textarea>
            </div> 
         
          </div> 
          <div class="modal-footer"> 
           <button type="submit" class="btn btn-primary">Save </button>
       </div>
   </form>
       
               </div>
             
           
       </div>
   </div>
</div>

   
<div class="modal fade" id="editModal"   role="dialog" aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Dept </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
            
               <div class="modal-body">
                  
        <form action="/edit_dept" method="post"  >
           <input type="hidden" name="_id" id="_id">
           <div class="row">
               <div class="col-lg-12">
                 
               <label>Name</label>
               <input type="text"  class="form-control" name="_name" id="_name">
            </div>
            <div class="col-lg-12">
          
           <label>Desc</label>
           <textarea name="_desc" id="_desc" class="form-control"></textarea>>
        </div>
  
         
          </div> 
          <div class="modal-footer"> 
           <button type="submit" class="btn btn-primary">Save </button>
       </div>
   </form>
       
               </div>
             
           
       </div>
   </div>
</div>


<script>
   function show_mode(){ 
       $('#myModal').modal('show');
   }
   function edit(_id,name,phone,user_name,password){  
       $('#_name').val(name)
       $('#_phone').val(phone)
       $('#_user_name').val(user_name)
       $('#_password').val(password)
       $('#_id').val(_id)
       $('#editModal').modal('show');
   }
   
       </script>

<!-- Footer -->
<footer class="sticky-footer bg-white">
   <div class="container my-auto">
       <div class="copyright text-center my-auto">
           <span>Copyright &copy; Your Website 2021</span>
       </div>
   </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>